apiVersion: v1
kind: Service
metadata:
  name: sample-service
spec:
  type: NodePort
  selector:
    app: sample-app
  ports:
    - port: 80          # inside cluster
      targetPort: 8080  # port that container listens on
      nodePort: 30080   # external port
